
.mainContent{
    font-size: 20px;
    color: rgba(160, 187, 128, 0.84);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /*height: 50vh;*/
    /*justify-content: center;*/
    /*margin: auto;*/
    /*width: min-content;*/
    /*background-image: url('/space.png');*/
    /*background-size: cover;*/
}

.background {
    background-image: url('/background.jpg');
    background-size: cover;
    /* 추가적인 스타일링 */
}

.info{
    color: #65c4bb;
}

.timer{
    font-size: 30px;
}

/* pomodoro.module.css */
.heading {
    /* Heading 스타일링 */
}

.progressBar {
    position: relative;
    width: 500px;
    height: 500px;
}

.timer-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: min-content;
}

.circleProgress {
    /* 동그라미 진행 막대 스타일링 */
    border-width: 6px;
    /*border-style: solid;*/
    /*border-top-color: transparent;*/
    /*border-radius: 50%;*/
    /*animation-timing-function: linear;*/
}
/* 동그라미 스타일링 */
.circle {
    width: 500px;
    height: 500px;
    /*border: 9px solid #fff;*/
    border-radius: 50%;
    color: #cccccc;
    /*position: relative;*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    zIndex: 2;
}

/* 텍스트 스타일링 */
.circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 4.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 스타일 지정 */
}

.rotateWork {
    animation: rotate 1500s linear infinite, progress 1500s linear 0ms forwards;
}

.rotateBreak {
    animation: rotate 300s linear infinite, progress 300s linear 0ms forwards;
}

@keyframes rotate {
    to {
        transform: rotate(1turn);
    }
}

@keyframes progress {
    to {
        transform: rotate(90deg);
    }
}

/* 이하 스타일링 클래스 작성 */
